.NavBarOutSide{
    width:100%;
    height:60px;
    
    position:fixed;
    top:0;
    left:0;
    
    background: rgb(29,140,226);
    
    color: #efefef;

    font-weight: bold;
    font-size:25px;
}
.NavBarIcon{
    width:20%;
    height:100%;
}
.NavBarBlock{
    width:100%;
    height:45px;
}
.ItemsNav{
    width:100%;
    margin-top: -24px;
}
.ItemNav{
    width:300px;
    min-height: 40px;
}
.ItemNav a{
    color:#222;
    font-size:20px;
    font-weight: normal;

    width:100%;
}
.NavButtonBar{
    width:100%;
    height:30px;
    font-size: 14px;
}
.iconNavButton{
    font-size: 10px;
    height:10px;
    width:10px;
    color: #000;
    background: #000;
}